
.footer{
    background-color:rgb(61, 61, 61);
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 3em;
}

.footer p{
    margin: 0 auto;
    font-size: medium;
    width: 20%;
}